{
	"id": "ee2a773d-70f1-4504-a05c-2200a930ba0c",
	"name": "Env-Sample",
	"values": [
		{
			"key": "baseUrl",
			"value": "https://mobileid.swisscom.com",
			"type": "default",
			"enabled": true
		},
		{
			"key": "AP_ID",
			"value": "mid://<your-APID>",
			"type": "default",
			"enabled": true
		},
		{
			"key": "MSISDN",
			"value": "41700092501",
			"type": "default",
			"enabled": true
		},
		{
			"key": "DataToBeSigned",
			"value": "<Your-DTBD-Prefix>: Sign in from Postman?",
			"type": "default",
			"enabled": true
		},
		{
			"key": "SignatureProfile",
			"value": "http://mid.swisscom.ch/Any-LoA4",
			"type": "default",
			"enabled": true
		},
		{
			"key": "UserLang",
			"value": "en",
			"type": "default",
			"enabled": true
		},
		{
			"key": "Message",
			"value": "An example receipt message from PostMan",
			"type": "default",
			"enabled": true
		},
		{
			"key": "MSSP_TransID",
			"value": "",
			"type": "default",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2024-07-04T06:20:17.771Z",
	"_postman_exported_using": "Postman/11.2.27"
}